*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font-size: 2.2rem;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    height: 50px;
    font-family: sans-serif;
    font-size: 1.5rem;
    border-radius: 3px;
    border-style: solid;
}

button:active, .active {
    border-style: inset;
    opacity: .9;
}

#calculator {
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 10%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#brand {
    color: hsl(0, 0%, 80%);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin-bottom: 50px;
    flex: 2;
}

#screen {
    font-size: larger;
    border: 1px solid black;
    padding: 10px 20px;
    margin-bottom: 20px;
    text-align: right;
    font-family: monospace;
    border-radius: 3px;
    border-color: hsl(0, 0%, 80%);
    color: hsl(0, 0%, 100%);
    overflow-x: scroll;
    min-height: 71px;
}

#keyboard {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    column-gap: 6px;
}

#controls {
    display: flex;
    gap: 6px;
}

#controls button {
    border-color: hsl(0, 0%, 30%);
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
}

#controls button:hover {
    background-color: hsl(0, 0%, 15%);
}

#delete {
    flex: 2;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-content: flex-end;
    flex-direction: row-reverse;
}

#numbers button {
    border-color: hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 40%);
    color: hsl(0, 0%, 100%);
}

#numbers button:hover {
    background-color: hsl(0, 0%, 35%);
}

#numbers button, #escape {
    width: calc(33.33% - 4px);
}

.zero {
    flex: 2;
    order: 1;
}

#operations {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    display: grid;
    gap: 6px;
}

#operations button {
    border-color: hsl(39, 100%, 60%);
    background-color: hsl(39, 100%, 50%);
    color: hsl(0, 0%, 100%);
}

#operations button:hover {
    background-color: hsl(39, 100%, 45%);
}

@media screen and (min-width: 775px) {
    #calculator {
        width: 80%;
        height: auto;
        border-radius: 10px;
        margin-inline: auto;
        box-shadow: 0 0 200px 2px hsl(39, 100%, 50%);
        display: block;
    }
}

@media screen and (min-width: 890px) {
    #calculator {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    #calculator {
        width: 60%;
    }
}

@media screen and (min-width: 1280px) {
    #calculator {
        width: 50%;
    }
}

@media screen and (min-width: 1440px) {
    #calculator {
        width: 720px;
    }
}